body {
margin:20px auto;
width:1000px;
background:linear-gradient(to right, white,yellow);
color:grey;
font-family:Arial;
font-weight:bold;
}
h1{
font-size:30px;
}
label {
font-size:25px;
}
input {
padding:15px 5px;
font-size:20px;
background-color:whitesmoky;
border-radius:5px;
transition:background-color .5s linear .3s;
}
input:hover{
background-color:yellow;
}
#sub{
font-weight:bold;
color:grey;

}
